<p>Register a Restaurant:</p>
<form class="card-text" (submit)="onSubmit()">
    <!-- <p> {{ newRestaurant | json }} </p> -->
    <!-- <p> {{ name.errors | json }} </p> -->
    <!-- <p> {{ name.valid | json }} </p> -->
    <div class="form-group">
        <label for="name">Restaurant Name</label>
        <small class="form-text text-danger" *ngIf="name.errors">*Name is required and must have {{3-newRestaurant.name.length}} more characters</small>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newRestaurant.name" required minlength="3" #name="ngModel">
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <small class="form-text text-danger" *ngIf="cuisine.errors">*Cuisine is required and must have {{3-newRestaurant.cuisine.length}} more characters</small>
        <input type="text" class="form-control" id="cuisine" name="cuisine" [(ngModel)]="newRestaurant.cuisine" required minlength="3" #cuisine="ngModel">
    </div>
    <button type="submit" class="btn btn-outline-secondary" disabled *ngIf="!cuisine.valid || !name.valid">Submit</button>
    <button type="submit" class="btn btn-primary" *ngIf="cuisine.valid && name.valid">Submit</button>
    <a class="btn btn-danger" [routerLink]="['/restaurants']" role="button">Cancel</a>
</form>